  <nav>
    <div class="nav-wrapper light-blue darken-2">
      <div class="container">
          <a href="/" class="brand-logo left"> <img src="/assets/logo1.png" height="40" width="70"> Flights Search</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="#!">Flights</a></li>
              <li><a href="#!">Bookings</a></li>
          </ul>
      </div>
    </div>
  </nav>
